@import url("colors-globals.css");
@import url("navbar.css");

body{
    background-color: var(--background-color);
    color: var(--text-color);
}

.timeline-slot {
	border-left: solid 0.5rem var(--primary-color);
}
