@import "globals.css";

body{
	color: var(--text-color);
	background-color: var(--background-color);
}

#content{
	transition: 8s max-height ease-in-out;
}

#content img{
	max-height: 20rem;
	max-width: calc(20rem * (16 / 9));
	border-radius: 0.5rem;
}

#intro-theme{
	overflow: hidden;
	transition: 6s max-height 1s;
}

#intro-container {
    align-items: center;
    justify-items: center;
    min-height: 100vh;
}
